spring:
  application:
    name:
      game-store-api
  main:
    banner-mode: off
  datasource:
    url: jdbc:postgresql://localhost:5432/game_store_app_db
    username: root
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
